@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Balsamiq Sans', cursive;
}

ul li {
	list-style-type: none;
}

.main {
	padding: 2rem;
}
.heading h1 {
	font-size: 3rem;
}
.content {
	margin-top: 3rem;
	margin-left: 3rem;
	display: flex;
	gap: 3rem;
	padding: 1rem;
}

.score-header {
	display: flex;
	gap: 1rem;
}
